{% if section.blocks.size > 0 %}
  <div class="announcement-bar">

    <div class="wrapper">
      <div class="marquee">
        {% for block in section.blocks %}

          <p class="mx-5">
            <a class="text-decoration-none" href="{{ block.settings.link }}">{{ block.settings.text }}
            </a>
          </p>
          <p class="mx-5">
            <a class="text-decoration-none" href="{{ block.settings.link }}">{{ block.settings.text }}
            </a>
          </p>

        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}



<style>

  .announcement-bar {
    background: rgba(255, 136, 26, 0.79) !important;
    height: 40px !important;
  }
  .announcement-bar .wrapper {
    max-width: 100%;
    overflow: hidden;
  }

  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 20s linear infinite;
  }

  .marquee p {
    display: inline-block;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  .announcement-bar a {
    color: #fff !important;
  }
  .announcement-bar p {
    color: #fff !important;
    font-family: Poppins !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    letter-spacing: -0.09px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;

  }

  .announcement-bar b {
    font-weight: 700 !important;
  }
</style>


{% schema %}
  {
    "name": "announcement",
    "blocks": [
      {
        "name": "block",
        "limit": 6,
        "type": "block",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Welcome to Our Store",
            "label": "Text"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}