<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4">
        <img
          class="img-fluid rounded mb-3"
          src="https://via.placeholder.com/730x400/5fa9f8/60a7f3"
          alt="A guide to building your online presence"><a href="#" class="mt-4 h2 text-dark">How to Inspire and Motivate Your Team...</a>
        <p class="mt-4">Cras in fringilla egestas condimentum morbi ut urna nec nunc.Cras in fringilla egestas condimentum morbi ut urna nec nunc.Cras in fringilla egestas condimentum morbi ut urna nec nunc.Cras in fringilla egestas condimentum morbi ut urna nec nunc.</p>

        <div class="d-flex text-small">
          <a href="#">Business</a>
          <span class="text-muted ml-1">29th November</span>
        </div>

      </div>
      <div class="col-lg-5 ">
        <ul class="list-unstyled">
          <li class="row mb-4">
            <a href="#" class="col-3">
              <img
                src="https://via.placeholder.com/300x300/5fa9f8/ffffff"
                alt="Image"
                class="rounded img-fluid">
            </a>
            <div class="col-9">
              <a href="#">
                <h6 class="mb-3 h5 text-dark">Cras in fringilla egestas condimentum morbi ut urna.</h6>
              </a>
              <div class="d-flex text-small">
                <a href="#">Business</a>
                <span class="text-muted ml-1">29th November</span>
              </div>
            </div>
          </li>
          <li class="row mb-4">
            <a href="#" class="col-3">
              <img
                src="https://via.placeholder.com/300x300/5fa9f8/ffffff"
                alt="Image"
                class="rounded img-fluid">
            </a>
            <div class="col-9">
              <a href="#">
                <h6 class="mb-3 h5 text-dark">How to Inspire and Motivate Your Team...</h6>
              </a>
              <div class="d-flex text-small">
                <a href="#">Design</a>
                <span class="text-muted ml-1">27th November</span>
              </div>
            </div>
          </li>
          <li class="row mb-4">
            <a href="#" class="col-3">
              <img
                src="https://via.placeholder.com/300x300/5fa9f8/ffffff"
                alt="Image"
                class="rounded img-fluid">
            </a>
            <div class="col-9">
              <a href="#">
                <h6 class="mb-3 text-dark h5">Securing your Series A</h6>
              </a>
              <div class="d-flex text-small">
                <a href="#">Business</a>
                <span class="text-muted ml-1">23rd November</span>
              </div>
            </div>
          </li>
          <li class="row mb-4">
            <a href="#" class="col-3">
              <img
                src="https://via.placeholder.com/300x300/5fa9f8/ffffff"
                alt="Image"
                class="rounded img-fluid">
            </a>
            <div class="col-9">
              <a href="#">
                <h6 class="mb-3 h5 text-dark">Cras in fringilla egestas condimentum morbi ut urna.</h6>
              </a>
              <div class="d-flex text-small">
                <a href="#">Business</a>
                <span class="text-muted ml-1">29th November</span>
              </div>
            </div>
          </li>
          <li class="row mb-4">
            <a href="#" class="col-3">
              <img
                src="https://via.placeholder.com/300x300/5fa9f8/ffffff"
                alt="Image"
                class="rounded img-fluid">
            </a>
            <div class="col-9">
              <a href="#">
                <h6 class="mb-3 h5 text-dark">Cras in fringilla egestas condimentum morbi ut urna.</h6>
              </a>
              <div class="d-flex text-small">
                <a href="#">Business</a>
                <span class="text-muted ml-1">29th November</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Blog Posts Grid",
    "class": "blog-posts-grid",
    "settings": [],
    "presets": [
      {
        "name": "Blog Posts Grid"
      }
    ]
  }
{% endschema %}