<div class="fluid-container">
  <div class="col-12">
    <a href="{{section.settings.link}}">
      {% comment %} <img class="img-fluid" width="1931" height="222" src="{{section.settings.image |  image_url: width:1931 }}" alt=""> {% endcomment %}

      <picture>
        <source media="(min-width:650px)" srcset="{{section.settings.image |  image_url: width:1931 }}">
        <img height="488" src="{{section.settings.mobile_image |  image_url: width:650 }}" alt="Webnair Image">
      </picture>
    </a>
  </div>
</div>

<style>
  .cta-image-banner picture img{
      width: 100%;
      height: auto;
      object-fit: contain;
      max-width: 100%;
  }
</style>
{% schema %}
{
    "name": "cta image banner",
    "class": "cta-image-banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "mobile image"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
                }
        ],
        "presets": [{
            "name": "cta image banner"
        }]
}
{% endschema %}
