<div class="container py-5">
    <div class="col-12">
      <div class="text-center">
        <h2 class="htc-title mb-5">{{ section.settings.heading }}</h2>
      </div>
    </div>

    <div class="row g-0 img-carousel justify-content-center"  data-flickity='{"freeScroll": true ,"watchCSS": true,"pageDots": false}'>
      {% for block in section.blocks %}
        <div class="col-12 col-md-4 col-lg-3 p-2">
          <div class="htc-item">
            <div class="mb-3">
              <img
                class="img-fluid"
                loading="lazy"
                width="357"
                height="357"
                src="{{block.settings.image | img_url: 'large'}}"
                alt="image">
            </div>
            <div class="text-center">
              <p class="htc-text">{{ block.settings.text }}</p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>


<style>
  .custom-img-text-blocks{
    background-color:{{section.settings.bgcolor}} !important;
  }
  .custom-img-text-blocks .flickity-slider{
    margin-left:0;
  }
  .htc-item {
    max-width: 357px;
    margin: auto;
  }
  .htc-title {
    color: #181818;
    font-size: 34px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.5px;
  }
  .htc-text {
    color: #1B1B1B;
    text-align: center;
    font-size: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.3px;
  }

  /* flickity on by default */
.img-carousel:after {
  content: 'flickity';
  display: none;
}

@media screen and ( min-width: 768px ) {
  /* disable Flickity for large devices */
  .img-carousel:after {
    content: '';
  }
}

</style>

{% schema %}
  {
    "name": "Custom Img Text Blocks",
    "class": "section custom-img-text-blocks",
    "tag": "section",
    "settings": [{
      "type":"color",
      "id": "bgcolor",
        "label": "Background color",
      "default":"#FFF"
    },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "name": "Image Block",
        "type": "image-block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "text",
            "label": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Img Text Blocks"
      }
    ]
  }
{% endschema %}