<div class="get-relief">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Get <span>Relief</span> From</h2>
      </div>
      <div class="col-6 col-md-4">
        <div class="symptoms-desc">
          <p>
            <a
              href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Sore+Throat+│+Cough+│Lung+Health&sort_by=best-selling"
              >Cough</a
            >
          </p>
          <a
            href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Sore+Throat+│+Cough+│Lung+Health&sort_by=best-selling"
            ><img
              class="img-fluid"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0551/8157/4300/files/RELIEF1_1.webp?v=1701249920"
          ></a>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="symptoms-desc">
          <p>
            <a
              href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Sore+Throat+│+Cough+│Lung+Health&sort_by=best-selling"
              >Sore Throat</a
            >
          </p>
          <a
            href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Sore+Throat+│+Cough+│Lung+Health&sort_by=best-selling"
            ><img
              class="img-fluid"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0551/8157/4300/files/RELIEF2_1.webp?v=1701249920"
          ></a>
        </div>
        <div class="symptoms-desc space-top">
          <p>
            <a
              href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Flu&sort_by=best-selling"
              >Flu</a
            >
          </p>
          <a
            href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Flu&sort_by=best-selling"
            ><img
              class="img-fluid"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0551/8157/4300/files/RELIEF3_1.webp?v=1701249920"
          ></a>
        </div>
      </div>
      <div class="col-12 col-md-4 inline-show">
        <div class="symptoms-desc color-white">
          <p>
            <a
              href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Cold&sort_by=best-selling"
              >Cold</a
            >
          </p>
          <a
            href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Cold&sort_by=best-selling"
            ><img
              class="img-fluid"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0551/8157/4300/files/RELIEF4_1.webp?v=1701249920"
          ></a>
        </div>
        <div class="symptoms-desc space-top">
          <p>
            <a
              href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Cold+And+Sinusitis&sort_by=best-selling"
              >Sinusitis</a
            >
          </p>
          <a
            href="https://bibo.health/collections/store?filter.p.m.my_fields.symptoms_based=Cold+And+Sinusitis&sort_by=best-selling"
            ><img
              class="img-fluid"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0551/8157/4300/files/RELIEF5_1.webp?v=1701249920"
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "home grid section",
  "settings": [],
  "presets":[{
        "name": "home grid section"
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
