<div class="fluid-container">
  <div class="col-12">
    {% assign mobile_img = section.settings.mobile_img | default: section.settings.img %}
    {% render 'image',
      class: 'main-banner-section_image',
      mobileSrc: mobile_img,
      desktopSrc: section.settings.img,
      loading: 'lazy'
    %}
  </div>
</div>

<style>
  .main-banner-section_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
</style>

{% schema %}
{
  "name": "Main Banner Section",
  "class": "section main-banner-section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Desktop Image"
    }, {
      "type": "image_picker",
      "id": "mobile_img",
      "label": "Mobile Image"
    }
  ],
  "presets": [
    {
      "name": "Main Banner Section"
    }
  ]
}
{% endschema %}
