<div class="container py-5">
  <div class="row py-5">
    <div class="col-12 col-md-5 mb-5">
      <div class="mb-4 nasal-img-text-section_title">{{ section.settings.title }}</div>
      <div class="mb-5 nasal-img-text-section_caption px-3">{{ section.settings.caption }}</div>
      <div class="nasal-img-text-section_text">{{ section.settings.text }}</div>
    </div>
    <div class="col-12 col-md-7 m-auto">

     <div class="nasal-img-text-section_img-wrapper">
        <img

          loading="lazy" class="rounded img-fluid"
        src="{{section.settings.img | img_url: 'master'}}"
        alt="How  Bibo Nasal Sprays  Works">
     </div>
    </div>

  </div>
</div>



<style>
  .nasal-img-text-section {
    background: #EEEFF1;
  }
  .nasal-img-text-section_title {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 146.5%; /* 49.81px */
  }
  .nasal-img-text-section_title span{
    border-radius: 8px;
    border: 2.6px solid #18ECD2;
    box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.25);
  }
  .nasal-img-text-section_caption {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #F4A26F;
    max-width: max-content;
  }
  .nasal-img-text-section_text {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .nasal-img-text-section_img-wrapper{
    max-height:415px;
    width:100%;
  }
  .nasal-img-text-section_img-wrapper img{
     max-height:415px;
    width:100%;
    height:auto;
    border-radius: 12px;
    border: 2px solid #000;
  }
  @media(min-width:768px) {
    .nasal-img-text-section_title {
      color: #000;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 146.5%; /* 49.81px */
    }
    .nasal-img-text-section_caption {
      color: #000;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      background: #F4A26F;
      width: max-content;
    }
    .nasal-img-text-section_text {
      color: #000;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
</style>

{% schema %}
  {
    "name": "Nasal Img Text",
    "tag": "section",
    "class": "nasal-img-text-section section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "How  Bibo Nasal Sprays  Works?"
      }, {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "default": "Direct pathway to deliver drug to lungs."
      }, {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Nasal sprays employ a molecular mechanism that directly treats damaged areas without liver metabolism. This precise topical application allows for quick absorption, reducing inflammation and promoting healing at the specific site of injury or irritation, providing effective local relief."
      }, {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      }

    ],
    "blocks": [],
    "presets": [
      {
        "name": "Nasal Img Text"
      }
    ]
  }
{% endschema %}