<div class="container py-5">
  <div class="row my-5">
    <div class="col-12 d-flex flex-column gap-5  justify-content-center align-items-center flex-md-row">
      <div class="nasal-spray-vs-others_heading">Bibo Nasal Spray</div>
      <div class="nasal-spray-vs-others_img-wrapper">
        <img
          src="{{section.settings.compare-img | img_url: 'master'}}"
          class="img-fluid"
          alt="">
      </div>
      <div class="nasal-spray-vs-others_heading">Other Nasal Spray</div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 d-flex flex-column gap-5  justify-content-center align-items-center flex-md-row">
      <div class="col">
        <div class="nasal-spray-vs-others_item-title">Bibo Spray</div>

        <ul class="nasal-spray-vs-others_item-text list-unstyled  nasal-spray-vs-others_list1 list-group  text-start text-md-right">
          <li class="d-flex gap-3 justify-content-md-end  text-start text-md-end">
            <span class="order-0 order-md-2">
              <svg
                width="27"
                height="27"
                viewBox="0 0 27 27"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M21.6765 11.1363H15.2585C15.046 11.1363 14.8759 11.0088 14.7484 10.8388C14.6634 10.6262 14.6634 10.4137 14.7484 10.2437C15.0035 9.86114 15.216 9.39359 15.4285 8.88352C15.8961 7.60837 15.7686 6.41822 15.5985 5.61063C15.471 5.14307 15.1735 4.76052 14.8334 4.71802H14.7909C14.7909 4.71802 14.6209 4.71802 14.4084 4.80303C14.2384 4.97305 13.7708 6.16319 13.5158 6.88578C13.3033 7.43835 13.0907 7.94841 12.9207 8.33096C12.4106 9.39359 11.4755 10.2862 10.2004 11.0088C10.1579 11.0513 10.0729 11.0513 10.0304 11.0513C9.47779 11.0938 9.18025 11.1363 9.05273 11.1788V19.8071H18.9989C19.509 19.8071 19.9766 19.4671 19.9766 19.0845C19.9766 18.8295 19.8916 18.6595 19.8065 18.5745C19.6365 18.3619 19.339 18.2769 19.0415 18.2769C18.7864 18.2769 18.6164 18.1069 18.6164 17.8519C18.6164 17.5968 18.7864 17.4268 19.0415 17.4268H19.8491C20.3591 17.4268 20.8267 17.0868 20.8267 16.7042C20.8267 16.4492 20.7417 16.2792 20.6566 16.1942C20.4866 15.9816 20.1891 15.8966 19.8916 15.8966C19.6365 15.8966 19.4665 15.7266 19.4665 15.4716C19.4665 15.2166 19.6365 15.0465 19.8916 15.0465H20.8267C21.3367 15.0465 21.8043 14.7065 21.8043 14.3239C21.8043 14.0689 21.7193 13.8989 21.6343 13.8139C21.4642 13.6014 21.1667 13.5163 20.8692 13.5163C20.6141 13.5163 20.4441 13.3463 20.4441 13.0913C20.4441 12.8363 20.6141 12.6662 20.8692 12.6662H21.7193C22.0168 12.6662 22.3144 12.5387 22.4844 12.3262C22.5694 12.2412 22.6969 12.0712 22.6544 11.8161C22.6119 11.4336 22.1868 11.1361 21.6768 11.1361L21.6765 11.1363Z" fill="#54B5A9" />
                <path d="M13.3889 0C5.99299 0 0 5.99347 0 13.3889C0 20.7843 5.99347 26.7778 13.3889 26.7778C20.7843 26.7778 26.7778 20.7843 26.7778 13.3889C26.7778 5.99347 20.7843 0 13.3889 0ZM22.3572 13.3889C22.5698 13.6864 22.6548 14.0265 22.6548 14.3665C22.6123 15.0466 22.1022 15.5992 21.3796 15.8117C21.5921 16.1092 21.6772 16.4068 21.6347 16.7468C21.5921 17.3844 21.1246 17.8944 20.487 18.1495C20.6995 18.447 20.7845 18.787 20.7845 19.1271C20.742 19.9772 19.9344 20.6573 18.9568 20.6573H8.88285H8.79784C8.58532 20.9548 8.24528 21.1673 7.82023 21.1673H6.20503C5.52495 21.1673 4.97238 20.5723 4.97238 19.8497V11.0513C4.97238 10.3288 5.52495 9.73369 6.20503 9.73369H7.82023C8.28778 9.73369 8.67033 9.98872 8.88285 10.3713C9.13788 10.3288 9.47793 10.2863 9.90298 10.2437C11.0081 9.60617 11.7732 8.84108 12.1983 7.99097C12.3683 7.65093 12.5383 7.14087 12.7508 6.63081C13.3884 4.97311 13.6859 4.29302 14.0685 4.0805C14.4935 3.86797 14.8761 3.91048 14.9186 3.91048H15.0036C15.6837 3.99549 16.2362 4.59056 16.4913 5.39816C16.7038 6.29077 16.8738 7.69344 16.2788 9.18112C16.1512 9.56367 15.9812 9.90371 15.8112 10.2437H21.7192C22.6968 10.2437 23.5044 10.9238 23.5469 11.7739C23.5894 12.199 23.4194 12.5815 23.1644 12.8791C22.9093 13.1341 22.6543 13.3041 22.3568 13.3891L22.3572 13.3889Z" fill="#54B5A9" />
                <path d="M7.82099 10.6262H6.20579C5.99326 10.6262 5.82324 10.8387 5.82324 11.0938V19.8921C5.82324 20.1471 5.99326 20.3597 6.20579 20.3597H7.82099C8.03351 20.3597 8.20353 20.1471 8.20353 19.8921V11.051C8.20353 10.796 8.03351 10.626 7.82099 10.626V10.6262Z" fill="#54B5A9" />
              </svg>

            </span>Pump spray</li>
          <li class="d-flex gap-3 justify-content-md-end  text-start text-md-end">
            <span class="order-0 order-md-2">
              <svg
                width="27"
                height="27"
                viewBox="0 0 27 27"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M21.6765 11.1363H15.2585C15.046 11.1363 14.8759 11.0088 14.7484 10.8388C14.6634 10.6262 14.6634 10.4137 14.7484 10.2437C15.0035 9.86114 15.216 9.39359 15.4285 8.88352C15.8961 7.60837 15.7686 6.41822 15.5985 5.61063C15.471 5.14307 15.1735 4.76052 14.8334 4.71802H14.7909C14.7909 4.71802 14.6209 4.71802 14.4084 4.80303C14.2384 4.97305 13.7708 6.16319 13.5158 6.88578C13.3033 7.43835 13.0907 7.94841 12.9207 8.33096C12.4106 9.39359 11.4755 10.2862 10.2004 11.0088C10.1579 11.0513 10.0729 11.0513 10.0304 11.0513C9.47779 11.0938 9.18025 11.1363 9.05273 11.1788V19.8071H18.9989C19.509 19.8071 19.9766 19.4671 19.9766 19.0845C19.9766 18.8295 19.8916 18.6595 19.8065 18.5745C19.6365 18.3619 19.339 18.2769 19.0415 18.2769C18.7864 18.2769 18.6164 18.1069 18.6164 17.8519C18.6164 17.5968 18.7864 17.4268 19.0415 17.4268H19.8491C20.3591 17.4268 20.8267 17.0868 20.8267 16.7042C20.8267 16.4492 20.7417 16.2792 20.6566 16.1942C20.4866 15.9816 20.1891 15.8966 19.8916 15.8966C19.6365 15.8966 19.4665 15.7266 19.4665 15.4716C19.4665 15.2166 19.6365 15.0465 19.8916 15.0465H20.8267C21.3367 15.0465 21.8043 14.7065 21.8043 14.3239C21.8043 14.0689 21.7193 13.8989 21.6343 13.8139C21.4642 13.6014 21.1667 13.5163 20.8692 13.5163C20.6141 13.5163 20.4441 13.3463 20.4441 13.0913C20.4441 12.8363 20.6141 12.6662 20.8692 12.6662H21.7193C22.0168 12.6662 22.3144 12.5387 22.4844 12.3262C22.5694 12.2412 22.6969 12.0712 22.6544 11.8161C22.6119 11.4336 22.1868 11.1361 21.6768 11.1361L21.6765 11.1363Z" fill="#54B5A9" />
                <path d="M13.3889 0C5.99299 0 0 5.99347 0 13.3889C0 20.7843 5.99347 26.7778 13.3889 26.7778C20.7843 26.7778 26.7778 20.7843 26.7778 13.3889C26.7778 5.99347 20.7843 0 13.3889 0ZM22.3572 13.3889C22.5698 13.6864 22.6548 14.0265 22.6548 14.3665C22.6123 15.0466 22.1022 15.5992 21.3796 15.8117C21.5921 16.1092 21.6772 16.4068 21.6347 16.7468C21.5921 17.3844 21.1246 17.8944 20.487 18.1495C20.6995 18.447 20.7845 18.787 20.7845 19.1271C20.742 19.9772 19.9344 20.6573 18.9568 20.6573H8.88285H8.79784C8.58532 20.9548 8.24528 21.1673 7.82023 21.1673H6.20503C5.52495 21.1673 4.97238 20.5723 4.97238 19.8497V11.0513C4.97238 10.3288 5.52495 9.73369 6.20503 9.73369H7.82023C8.28778 9.73369 8.67033 9.98872 8.88285 10.3713C9.13788 10.3288 9.47793 10.2863 9.90298 10.2437C11.0081 9.60617 11.7732 8.84108 12.1983 7.99097C12.3683 7.65093 12.5383 7.14087 12.7508 6.63081C13.3884 4.97311 13.6859 4.29302 14.0685 4.0805C14.4935 3.86797 14.8761 3.91048 14.9186 3.91048H15.0036C15.6837 3.99549 16.2362 4.59056 16.4913 5.39816C16.7038 6.29077 16.8738 7.69344 16.2788 9.18112C16.1512 9.56367 15.9812 9.90371 15.8112 10.2437H21.7192C22.6968 10.2437 23.5044 10.9238 23.5469 11.7739C23.5894 12.199 23.4194 12.5815 23.1644 12.8791C22.9093 13.1341 22.6543 13.3041 22.3568 13.3891L22.3572 13.3889Z" fill="#54B5A9" />
                <path d="M7.82099 10.6262H6.20579C5.99326 10.6262 5.82324 10.8387 5.82324 11.0938V19.8921C5.82324 20.1471 5.99326 20.3597 6.20579 20.3597H7.82099C8.03351 20.3597 8.20353 20.1471 8.20353 19.8921V11.051C8.20353 10.796 8.03351 10.626 7.82099 10.626V10.6262Z" fill="#54B5A9" />
              </svg>

            </span>Fixed and accurate dose delivery.</li>

          <li class="d-flex gap-3 justify-content-md-end text-start text-md-end ">
            <span class="order-0 order-md-2">
              <svg
                width="27"
                height="27"
                viewBox="0 0 27 27"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M21.6765 11.1363H15.2585C15.046 11.1363 14.8759 11.0088 14.7484 10.8388C14.6634 10.6262 14.6634 10.4137 14.7484 10.2437C15.0035 9.86114 15.216 9.39359 15.4285 8.88352C15.8961 7.60837 15.7686 6.41822 15.5985 5.61063C15.471 5.14307 15.1735 4.76052 14.8334 4.71802H14.7909C14.7909 4.71802 14.6209 4.71802 14.4084 4.80303C14.2384 4.97305 13.7708 6.16319 13.5158 6.88578C13.3033 7.43835 13.0907 7.94841 12.9207 8.33096C12.4106 9.39359 11.4755 10.2862 10.2004 11.0088C10.1579 11.0513 10.0729 11.0513 10.0304 11.0513C9.47779 11.0938 9.18025 11.1363 9.05273 11.1788V19.8071H18.9989C19.509 19.8071 19.9766 19.4671 19.9766 19.0845C19.9766 18.8295 19.8916 18.6595 19.8065 18.5745C19.6365 18.3619 19.339 18.2769 19.0415 18.2769C18.7864 18.2769 18.6164 18.1069 18.6164 17.8519C18.6164 17.5968 18.7864 17.4268 19.0415 17.4268H19.8491C20.3591 17.4268 20.8267 17.0868 20.8267 16.7042C20.8267 16.4492 20.7417 16.2792 20.6566 16.1942C20.4866 15.9816 20.1891 15.8966 19.8916 15.8966C19.6365 15.8966 19.4665 15.7266 19.4665 15.4716C19.4665 15.2166 19.6365 15.0465 19.8916 15.0465H20.8267C21.3367 15.0465 21.8043 14.7065 21.8043 14.3239C21.8043 14.0689 21.7193 13.8989 21.6343 13.8139C21.4642 13.6014 21.1667 13.5163 20.8692 13.5163C20.6141 13.5163 20.4441 13.3463 20.4441 13.0913C20.4441 12.8363 20.6141 12.6662 20.8692 12.6662H21.7193C22.0168 12.6662 22.3144 12.5387 22.4844 12.3262C22.5694 12.2412 22.6969 12.0712 22.6544 11.8161C22.6119 11.4336 22.1868 11.1361 21.6768 11.1361L21.6765 11.1363Z" fill="#54B5A9" />
                <path d="M13.3889 0C5.99299 0 0 5.99347 0 13.3889C0 20.7843 5.99347 26.7778 13.3889 26.7778C20.7843 26.7778 26.7778 20.7843 26.7778 13.3889C26.7778 5.99347 20.7843 0 13.3889 0ZM22.3572 13.3889C22.5698 13.6864 22.6548 14.0265 22.6548 14.3665C22.6123 15.0466 22.1022 15.5992 21.3796 15.8117C21.5921 16.1092 21.6772 16.4068 21.6347 16.7468C21.5921 17.3844 21.1246 17.8944 20.487 18.1495C20.6995 18.447 20.7845 18.787 20.7845 19.1271C20.742 19.9772 19.9344 20.6573 18.9568 20.6573H8.88285H8.79784C8.58532 20.9548 8.24528 21.1673 7.82023 21.1673H6.20503C5.52495 21.1673 4.97238 20.5723 4.97238 19.8497V11.0513C4.97238 10.3288 5.52495 9.73369 6.20503 9.73369H7.82023C8.28778 9.73369 8.67033 9.98872 8.88285 10.3713C9.13788 10.3288 9.47793 10.2863 9.90298 10.2437C11.0081 9.60617 11.7732 8.84108 12.1983 7.99097C12.3683 7.65093 12.5383 7.14087 12.7508 6.63081C13.3884 4.97311 13.6859 4.29302 14.0685 4.0805C14.4935 3.86797 14.8761 3.91048 14.9186 3.91048H15.0036C15.6837 3.99549 16.2362 4.59056 16.4913 5.39816C16.7038 6.29077 16.8738 7.69344 16.2788 9.18112C16.1512 9.56367 15.9812 9.90371 15.8112 10.2437H21.7192C22.6968 10.2437 23.5044 10.9238 23.5469 11.7739C23.5894 12.199 23.4194 12.5815 23.1644 12.8791C22.9093 13.1341 22.6543 13.3041 22.3568 13.3891L22.3572 13.3889Z" fill="#54B5A9" />
                <path d="M7.82099 10.6262H6.20579C5.99326 10.6262 5.82324 10.8387 5.82324 11.0938V19.8921C5.82324 20.1471 5.99326 20.3597 6.20579 20.3597H7.82099C8.03351 20.3597 8.20353 20.1471 8.20353 19.8921V11.051C8.20353 10.796 8.03351 10.626 7.82099 10.626V10.6262Z" fill="#54B5A9" />
              </svg>

            </span>Appropriately formulated, targeted solution for all range of conditions.</li>
        </ul>

      </div>
      <div class="col">
        <div class="">
          img
        </div>

      </div>
      <div class="col">
        <div class="nasal-spray-vs-others_item-title text-start">Others</div>

        <ul class="nasal-spray-vs-others_item-text list-unstyled  list-group  text-start">
          <li class="d-flex gap-3 text-start">
            <span class="order-0">
              <svg
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5612 8.54442C17.4102 8.18349 17.256 7.84953 17.0269 7.69053C16.7692 7.50936 16.3226 7.49978 15.9283 7.49019C13.8709 7.45843 11.804 7.45364 9.74026 7.46482C9.77042 8.08643 9.74026 8.70978 9.7037 9.32181L9.49219 14.0216C10.0343 14.0646 10.5702 14.0852 11.0885 14.0598C11.3795 14.0376 11.653 14.2411 11.7325 14.5304C11.8867 15.109 12.0521 15.6847 12.2175 16.2601C12.4066 16.9215 12.5944 17.583 12.7708 18.2475C12.8201 18.4241 12.89 18.6768 12.9871 18.7499C13.0793 18.8198 13.3592 18.8088 13.5657 18.804C14.1492 18.7755 14.2193 18.6498 14.2193 18.6482C14.2462 18.5831 14.2033 18.3684 14.1827 18.2651L13.7599 16.2078C13.5498 15.1743 13.8392 14.4159 14.5355 14.179C14.7899 14.0948 15.0316 14.1043 15.2541 14.1313L18.0237 14.4175C18.4006 14.4573 18.7536 14.4954 19.0428 14.4143C19.2638 14.3554 19.4451 14.2108 19.4737 14.0726C19.4959 13.9533 19.4307 13.7402 19.3798 13.567C18.876 11.8896 18.2624 10.1994 17.5611 8.54421L17.5612 8.54442Z" fill="#EB752C" />
                <path d="M12.7194 0C5.69513 0 0 5.69513 0 12.7194C0 19.7438 5.69513 25.4389 12.7194 25.4389C19.7438 25.4389 25.4389 19.7438 25.4389 12.7194C25.4389 5.69513 19.7438 0 12.7194 0ZM20.7232 14.3207C20.5927 14.9455 20.0666 15.4607 19.3797 15.6404C18.8614 15.7866 18.3463 15.7311 17.8899 15.6802L15.1155 15.3939C14.9978 15.3828 14.9533 15.3844 14.9357 15.386C14.9691 15.3908 14.9341 15.6023 15.0056 15.9536L15.4285 18.0109C15.4874 18.2988 15.5731 18.728 15.3887 19.1509C15.0294 20.0048 13.9674 20.0571 13.6192 20.0747C13.5366 20.0779 13.4475 20.0811 13.3554 20.0811C12.9944 20.0811 12.5764 20.0365 12.217 19.7631C11.7798 19.4307 11.6368 18.9188 11.5445 18.5802C11.3695 17.9157 11.1836 17.2637 10.996 16.612C10.8734 16.1889 10.7526 15.7675 10.6365 15.3446C10.247 15.3478 9.83994 15.3113 9.43624 15.2811L9.43464 15.3033C9.41867 15.6467 9.158 15.9329 8.78749 15.9107C8.22302 15.9011 7.6889 15.9536 7.13242 16.0108C6.6077 16.0649 6.06721 16.1188 5.48216 16.1188C5.42804 16.1188 5.3741 16.1188 5.31998 16.1173C5.14661 16.1141 4.97981 16.0394 4.86217 15.9105C4.74434 15.7835 4.68543 15.6133 4.69661 15.4385C4.89695 12.5479 5.12266 9.27275 4.69342 6.23734C4.66804 6.06238 4.7172 5.8844 4.82863 5.7476C4.93989 5.61079 5.10368 5.52667 5.28024 5.5139L7.20732 5.38827C7.7638 5.35171 8.45229 5.30717 9.10884 5.53928C9.29959 5.60759 9.44599 5.7602 9.50313 5.95432C9.5269 6.03222 9.53489 6.11332 9.55405 6.19122C11.6845 6.17844 13.8183 6.18642 15.9501 6.21819C16.4716 6.22937 17.1823 6.24516 17.7548 6.64743C18.2603 7.00037 18.5132 7.53307 18.7293 8.0498C19.448 9.74462 20.0776 11.4793 20.5943 13.2012C20.6864 13.4892 20.8072 13.8851 20.723 14.3207L20.7232 14.3207Z" fill="#EB752C" />
                <path d="M7.29359 6.65714L6.03905 6.73805C6.34266 9.4537 6.18846 12.2696 6.01367 14.8322C6.34284 14.813 6.66881 14.7812 7.0042 14.7463C7.38731 14.7065 7.77999 14.6668 8.19188 14.6492L8.43675 9.24527C8.48928 8.36763 8.54163 7.46618 8.37642 6.66163C8.03448 6.60786 7.66077 6.63324 7.29363 6.6572L7.29359 6.65714Z" fill="#EB752C" />
              </svg>


            </span>Squeeze based</li>
          <li class="d-flex gap-3 text-start">
            <span class="order-0">
              <svg
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5612 8.54442C17.4102 8.18349 17.256 7.84953 17.0269 7.69053C16.7692 7.50936 16.3226 7.49978 15.9283 7.49019C13.8709 7.45843 11.804 7.45364 9.74026 7.46482C9.77042 8.08643 9.74026 8.70978 9.7037 9.32181L9.49219 14.0216C10.0343 14.0646 10.5702 14.0852 11.0885 14.0598C11.3795 14.0376 11.653 14.2411 11.7325 14.5304C11.8867 15.109 12.0521 15.6847 12.2175 16.2601C12.4066 16.9215 12.5944 17.583 12.7708 18.2475C12.8201 18.4241 12.89 18.6768 12.9871 18.7499C13.0793 18.8198 13.3592 18.8088 13.5657 18.804C14.1492 18.7755 14.2193 18.6498 14.2193 18.6482C14.2462 18.5831 14.2033 18.3684 14.1827 18.2651L13.7599 16.2078C13.5498 15.1743 13.8392 14.4159 14.5355 14.179C14.7899 14.0948 15.0316 14.1043 15.2541 14.1313L18.0237 14.4175C18.4006 14.4573 18.7536 14.4954 19.0428 14.4143C19.2638 14.3554 19.4451 14.2108 19.4737 14.0726C19.4959 13.9533 19.4307 13.7402 19.3798 13.567C18.876 11.8896 18.2624 10.1994 17.5611 8.54421L17.5612 8.54442Z" fill="#EB752C" />
                <path d="M12.7194 0C5.69513 0 0 5.69513 0 12.7194C0 19.7438 5.69513 25.4389 12.7194 25.4389C19.7438 25.4389 25.4389 19.7438 25.4389 12.7194C25.4389 5.69513 19.7438 0 12.7194 0ZM20.7232 14.3207C20.5927 14.9455 20.0666 15.4607 19.3797 15.6404C18.8614 15.7866 18.3463 15.7311 17.8899 15.6802L15.1155 15.3939C14.9978 15.3828 14.9533 15.3844 14.9357 15.386C14.9691 15.3908 14.9341 15.6023 15.0056 15.9536L15.4285 18.0109C15.4874 18.2988 15.5731 18.728 15.3887 19.1509C15.0294 20.0048 13.9674 20.0571 13.6192 20.0747C13.5366 20.0779 13.4475 20.0811 13.3554 20.0811C12.9944 20.0811 12.5764 20.0365 12.217 19.7631C11.7798 19.4307 11.6368 18.9188 11.5445 18.5802C11.3695 17.9157 11.1836 17.2637 10.996 16.612C10.8734 16.1889 10.7526 15.7675 10.6365 15.3446C10.247 15.3478 9.83994 15.3113 9.43624 15.2811L9.43464 15.3033C9.41867 15.6467 9.158 15.9329 8.78749 15.9107C8.22302 15.9011 7.6889 15.9536 7.13242 16.0108C6.6077 16.0649 6.06721 16.1188 5.48216 16.1188C5.42804 16.1188 5.3741 16.1188 5.31998 16.1173C5.14661 16.1141 4.97981 16.0394 4.86217 15.9105C4.74434 15.7835 4.68543 15.6133 4.69661 15.4385C4.89695 12.5479 5.12266 9.27275 4.69342 6.23734C4.66804 6.06238 4.7172 5.8844 4.82863 5.7476C4.93989 5.61079 5.10368 5.52667 5.28024 5.5139L7.20732 5.38827C7.7638 5.35171 8.45229 5.30717 9.10884 5.53928C9.29959 5.60759 9.44599 5.7602 9.50313 5.95432C9.5269 6.03222 9.53489 6.11332 9.55405 6.19122C11.6845 6.17844 13.8183 6.18642 15.9501 6.21819C16.4716 6.22937 17.1823 6.24516 17.7548 6.64743C18.2603 7.00037 18.5132 7.53307 18.7293 8.0498C19.448 9.74462 20.0776 11.4793 20.5943 13.2012C20.6864 13.4892 20.8072 13.8851 20.723 14.3207L20.7232 14.3207Z" fill="#EB752C" />
                <path d="M7.29359 6.65714L6.03905 6.73805C6.34266 9.4537 6.18846 12.2696 6.01367 14.8322C6.34284 14.813 6.66881 14.7812 7.0042 14.7463C7.38731 14.7065 7.77999 14.6668 8.19188 14.6492L8.43675 9.24527C8.48928 8.36763 8.54163 7.46618 8.37642 6.66163C8.03448 6.60786 7.66077 6.63324 7.29363 6.6572L7.29359 6.65714Z" fill="#EB752C" />
              </svg>


            </span>There might be a fault in dose delivery.</li>

          <li class="d-flex gap-3 text-start">
            <span class="order-0">
              <svg
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5612 8.54442C17.4102 8.18349 17.256 7.84953 17.0269 7.69053C16.7692 7.50936 16.3226 7.49978 15.9283 7.49019C13.8709 7.45843 11.804 7.45364 9.74026 7.46482C9.77042 8.08643 9.74026 8.70978 9.7037 9.32181L9.49219 14.0216C10.0343 14.0646 10.5702 14.0852 11.0885 14.0598C11.3795 14.0376 11.653 14.2411 11.7325 14.5304C11.8867 15.109 12.0521 15.6847 12.2175 16.2601C12.4066 16.9215 12.5944 17.583 12.7708 18.2475C12.8201 18.4241 12.89 18.6768 12.9871 18.7499C13.0793 18.8198 13.3592 18.8088 13.5657 18.804C14.1492 18.7755 14.2193 18.6498 14.2193 18.6482C14.2462 18.5831 14.2033 18.3684 14.1827 18.2651L13.7599 16.2078C13.5498 15.1743 13.8392 14.4159 14.5355 14.179C14.7899 14.0948 15.0316 14.1043 15.2541 14.1313L18.0237 14.4175C18.4006 14.4573 18.7536 14.4954 19.0428 14.4143C19.2638 14.3554 19.4451 14.2108 19.4737 14.0726C19.4959 13.9533 19.4307 13.7402 19.3798 13.567C18.876 11.8896 18.2624 10.1994 17.5611 8.54421L17.5612 8.54442Z" fill="#EB752C" />
                <path d="M12.7194 0C5.69513 0 0 5.69513 0 12.7194C0 19.7438 5.69513 25.4389 12.7194 25.4389C19.7438 25.4389 25.4389 19.7438 25.4389 12.7194C25.4389 5.69513 19.7438 0 12.7194 0ZM20.7232 14.3207C20.5927 14.9455 20.0666 15.4607 19.3797 15.6404C18.8614 15.7866 18.3463 15.7311 17.8899 15.6802L15.1155 15.3939C14.9978 15.3828 14.9533 15.3844 14.9357 15.386C14.9691 15.3908 14.9341 15.6023 15.0056 15.9536L15.4285 18.0109C15.4874 18.2988 15.5731 18.728 15.3887 19.1509C15.0294 20.0048 13.9674 20.0571 13.6192 20.0747C13.5366 20.0779 13.4475 20.0811 13.3554 20.0811C12.9944 20.0811 12.5764 20.0365 12.217 19.7631C11.7798 19.4307 11.6368 18.9188 11.5445 18.5802C11.3695 17.9157 11.1836 17.2637 10.996 16.612C10.8734 16.1889 10.7526 15.7675 10.6365 15.3446C10.247 15.3478 9.83994 15.3113 9.43624 15.2811L9.43464 15.3033C9.41867 15.6467 9.158 15.9329 8.78749 15.9107C8.22302 15.9011 7.6889 15.9536 7.13242 16.0108C6.6077 16.0649 6.06721 16.1188 5.48216 16.1188C5.42804 16.1188 5.3741 16.1188 5.31998 16.1173C5.14661 16.1141 4.97981 16.0394 4.86217 15.9105C4.74434 15.7835 4.68543 15.6133 4.69661 15.4385C4.89695 12.5479 5.12266 9.27275 4.69342 6.23734C4.66804 6.06238 4.7172 5.8844 4.82863 5.7476C4.93989 5.61079 5.10368 5.52667 5.28024 5.5139L7.20732 5.38827C7.7638 5.35171 8.45229 5.30717 9.10884 5.53928C9.29959 5.60759 9.44599 5.7602 9.50313 5.95432C9.5269 6.03222 9.53489 6.11332 9.55405 6.19122C11.6845 6.17844 13.8183 6.18642 15.9501 6.21819C16.4716 6.22937 17.1823 6.24516 17.7548 6.64743C18.2603 7.00037 18.5132 7.53307 18.7293 8.0498C19.448 9.74462 20.0776 11.4793 20.5943 13.2012C20.6864 13.4892 20.8072 13.8851 20.723 14.3207L20.7232 14.3207Z" fill="#EB752C" />
                <path d="M7.29359 6.65714L6.03905 6.73805C6.34266 9.4537 6.18846 12.2696 6.01367 14.8322C6.34284 14.813 6.66881 14.7812 7.0042 14.7463C7.38731 14.7065 7.77999 14.6668 8.19188 14.6492L8.43675 9.24527C8.48928 8.36763 8.54163 7.46618 8.37642 6.66163C8.03448 6.60786 7.66077 6.63324 7.29363 6.6572L7.29359 6.65714Z" fill="#EB752C" />
              </svg>


            </span>General medication for nasal decongestion.</li>
        </ul>

      </div>
    </div>

  </div>
</div>


<style>
  .nasal-spray-vs-others {
    background-image: url("https://s3-alpha-sig.figma.com/img/52fc/717e/8e9162fc0e0c5fef9375c8b181b83a6a?Expires=1694995200&Signature=jdUk3fHfLo-zT1Mw5cGYk9Przsk2QDeCzwAifbb8Xkn6OavPs2gChkEW8EmVKhmiKfJi6o51yod2uP357StqBKfUuFM2MOsIIppvhDT2Opb0IkHJCMwtjtbn0mlVS5fuWY~21Ts0XFB1qoSDsHuvSvXJdGLwTtsnnEnKSxl-zu4grzdk1Y1y5NcIUHZziLeF0Igbv0Oii209R1lDIvhwbUOWcDwYbTDibuQB0ICjYvZhRiSF4dmnzCgDYwgyDvTGJIreTYZqms-K3W9RFxF6rWogakU19TS29yuvpisT~n7kDsGOQ3ENu0HFHj~cfdvaPxegQ3PxRYm~nCFf11dOMg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  }
  .nasal-spray-vs-others_img-wrapper {
    height: 80px;
    width: 80px;
  }
  .nasal-spray-vs-others_list1 {}
  .nasal-spray-vs-others ul li {
    margin-bottom: 20px;
  }
  .nasal-spray-vs-others_heading {
    color: #181818;
    text-align: center;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .nasal-spray-vs-others_item-title {
    color: #181818;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }
  .nasal-spray-vs-others_item-text {
    color: #393939;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 173%; /* 38.06px */
  }
  @media(min-width:768px) {
    .nasal-spray-vs-others_heading {
      color: #181818;
      text-align: center;
      font-family: Urbanist;
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .nasal-spray-vs-others_item-title {
      color: #181818;
      text-align: right;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .nasal-spray-vs-others_item-text {
      color: #393939;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 173%; /* 38.06px */
    }
  }
</style>


{% schema %}
  {
    "name": "Nasal Spray Vs Others",
    "tag": "section",
    "class": "nasal-spray-vs-others section",
    "settings": [
      {
        "type": "image_picker",
        "id": "compare-img",
        "label": "Compare Image"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Nasal Spray Vs Others"
      }
    ]
  }
{% endschema %}