
<div id="product-reviews">
   <h1>Product Title</h1>
    <div class="product-description">
        <!-- Your product description goes here -->
    </div>
    <div class="product-reviews">
        <!-- Product reviews will be displayed here -->
    </div>
</div>



{% schema %}
  {
    "name": "Product Reviews",
    "settings": [],
    "presets":[{
      "name": "Product Reviews"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

