<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
      <div class="trust-section_heading">{{ section.settings.text }}</div>
    </div>
    <div class="col-12 col-lg-6 mb-4 d-flex justify-content-between  align-items-center text-center">
      {% for block in section.blocks %}
        <div>
          <img
            class="img-fluid"
            loading="lazy"
            height="125"
            width="125"
            src="{{block.settings.image | img_url: 'master'}}"
            alt="logo">
        </div>
      {% endfor %}
    </div>

  </div>
</div>



<style>
  .trust-section_heading {
    color: #254E4E;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 117%;
    text-transform: uppercase;
  }
  .trust-section_heading b {
    color: #254E4E;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 117%; /* 22.23px */
    text-transform: uppercase;
  }

  @media(min-width:768px) {
    .trust-section_heading {
      color: #254E4E;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 117%;
      text-transform: uppercase;
    }
    .trust-section_heading b {
      color: #254E4E;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 117%; /* 46.8px */
      text-transform: uppercase;
    }
  }
</style>

{% schema %}
  {
    "name": "Trust Section",
    "class": "section trust-section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "<b>CERTIFIED</b> FOR YOUR TRUST"
      }

    ],
    "blocks": [
      {
        "limit": 4,
        "name": "logo",
        "type": "logo-block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Logo"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Trust Section"
      }
    ]
  }
{% endschema %}